body{
   background-color: darkslateblue;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

div:first-child{
   width: 0;
   height: 0;
   border-right: 50px solid transparent;
   border-top: 50px solid white;
   border-left: 50px solid transparent;
}

div:nth-child(2){
   width: 0;
   height: 0;
   border-bottom: 50px solid white;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
}