body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   background-color: rgb(113, 200, 228);
}

section{
   display: flex;
   flex-direction: column;
}

h1{
   padding-bottom: 50px;
}

label{
   background-color: white;
   width: 70px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}

input{
   accent-color: green;
}