body{
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
}

canvas{
   width: 700px;
   height: 700px;
   border: 2px solid cornflowerblue;
   box-sizing: border-box;
}

section{
   display: flex;
}

.comandos{
   background-color: cornflowerblue;
   width: 700px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   box-sizing: border-box;
}

.comandos .pintar{
   gap: 3px;
}

span{
   width: 40px;
   height: 40px;
   background-color: whitesmoke;
   border: 1px solid black;
   font-size: 30px;
   text-align: center;
   box-sizing: border-box;
}

button{
   width: 40px;
   height: 40px;
   border: 1px solid black;
   background-color: whitesmoke;
   font-size: 30px;
   cursor: pointer;
}

input{
   width: 40px;
   height: 40px;
   cursor: pointer;
}