body{
    background-color: blue;
}

section{
    background-color: white;
    padding: 5px;
    width: max-content;
    display: flex;
}

input{
    border: none;
}

img{
    width: 20px;

}

button{
    background-color: white;
    border: none;
}